@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #004666;
}

/* --- Layout --- */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
#sidebar {
    width: 260px;
    background-color: #004666;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
    overflow-y: auto;
}

.sidebar-link {
    display: block;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.sidebar-link:hover, .sidebar-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 4px solid #3b7ddd;
}

.sidebar-link i {
    margin-right: 10px;
}

.logout{
    margin: 10px;
    border-radius: 5px; 
    margin-top: auto; 
}

.logout:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color:#ffff;
}

/* Main Content */
.main {
    flex: 1;
    padding: 20px;
    background-image: url("./background-all.jpg");
    margin-left:260px;
}

h2 {
    margin-bottom: 20px;
    color: #004666;
}

/* Section Logic (Ẩn hiện tab) */
.section {
    display: none; /* Mặc định ẩn */
}

.section.active {
    display: block; /* Chỉ hiện khi có class active */
}

/* --- Table --- */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-top: 10px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #004666;
    color: #fff;
}

/* --- Buttons --- */
button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.btn-open {
    background: #004666;
    color: #fff;
    margin-bottom: 15px;
    width:130px;
}

.btn-edit {
    background: #e4bd23;
    color: #fff;
    margin-right: 5px;
}

.btn-delete {
    background: #e74c3c;
    color: #fff;
}

.btn-submit {
    background: #004666;
    color: #fff;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.btn-close {
    background: #95a5a6;
    color: #fff;
    padding: 10px;
    width: 100%;
}

/* --- Modal --- */
.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none; /* Ẩn mặc định */
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal.show {
    display: flex;
}

.modal-box {
    background: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-box h3 {
    margin-bottom: 10px;
    text-align: center;
}

.modal-box input, .modal-box select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.paginate-prev{
    color: white;
    background-color: #004666;
    border-radius: 0px;
}
.paginate-prev:hover{
    background-color: #3b7ddd;
}

.paginate-prev.disabled{
    opacity: 50%;
    background-color: #004666;
}

.paginate-next{
    color: white;
    background-color: #004666;
    border-radius: 0px;
}

.paginate-next:hover{
    background-color: #3b7ddd;
}

.paginate-next.disabled{
    opacity: 50%;
    background-color: #004666;
}

.paginate-number{
    color: white;
    background-color: #004666;
    border-radius: 0px;
}
.paginate-number:hover, .paginate-number.disabled{
    background-color:#3b7ddd;
}

.search{
    display: flex;
    width: 100%;
}

.search #search{
    margin-left:30px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 700px;
}

.search #timkiem{
    margin-bottom: 15px;
    width: 80px;
    color: white;
    background-color: #004666;
    border-width: 0;
}
.search #timkiem:hover{
    background-color:#3b7ddd;
}